<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

<div class="my-3 p-3 bg-white rounded box-shadow">
    <h4 class="border-bottom border-gray pb-2 mb-0">City Master</h4>
    
    <form class="needs-validation pt-3" novalidate [formGroup]="cityMaster" (ngSubmit)="onCitySubmit()">
    
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="countryId">Country</label>
          <select class="form-control" name="countryId" id="countryId" formControlName="countryId" (change)="fetchState($event)" required>
            <option value="">Choose Country</option>
            <option *ngFor="let country of countryList" value="{{country.Country_id}}">{{country.Country_name}}</option>
          </select>
          <div *ngIf="f.countryId.errors" class="invalid-feedback">
            <div *ngIf="f.countryId.errors.required">Please select Country</div>
          </div>
        </div>
        
        <div class="form-group col-md-6">
          <label for="stateId">State</label>
          <select class="form-control" name="stateId" id="stateId" formControlName="stateId" required>
            <option value="">Choose State</option>
            <option *ngFor="let state of stateList" value="{{state.State_id}}">{{state.State_name}}</option>
          </select>
          <div *ngIf="f.stateId.errors" class="invalid-feedback">
            <div *ngIf="f.stateId.errors.required">Please select State</div>
          </div>
        </div>
      </div>
              
      <div class="form-group">
        <label for="cityName">City Name</label>
        <input type="text" class="form-control" name="cityName" minlength="3" placeholder="City Name" formControlName="cityName" required>
        <div *ngIf="f.cityName.errors" class="invalid-feedback">
            <div *ngIf="f.cityName.errors.required">Please enter City name</div>
            <div *ngIf="f.cityName.errors.minLength">City name must be at least 3 characters long</div>
        </div>
      </div>
      
      <button class="btn btn-primary" type="submit">Submit</button>
      <!-- [disabled]="!cityMaster.valid" -->
      
    </form>
  </div>
  
  <div class="my-3 p-3 bg-white rounded box-shadow">
  
    <h5 class="border-bottom border-gray pb-2 mb-0 text-center">City Master Table</h5>

    <ngx-datatable
        [rows]="cityList"
        [columns]="columns">
      </ngx-datatable>
    
    <div class="table-responsive">
      <table class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="text-center">City ID</th>
            <th scope="col" class="text-center">City Name</th>
          </tr>
        </thead>
        
        <tbody>

          <tr *ngFor="let city of cityList">
              <td class="text-center">{{ city.City_id }}</td>
            <td class="text-center">{{ city.City_name }}</td>
          </tr>
         
        </tbody>
      </table>
    </div>
  
  </div>